{% extends "layout.html" %}

{% block body %}
        <h1>ADD USER HERE :</h1>

        {% if number == 1 %}
            heads ! <br> <br>
        {% else %}
            tails ! <br> <br>
        {% endif %}
        <br>
        <br>
        <form action="/add_usr", method = 'post'>
            <input type="text" name="usr_name" placeholder = "user name">
            <input type="text" name="usr_email" placeholder = "enetr email here">
            <input type="submit">
        </form>


   {% endblock %}