{% extends "layout.html" %}

{% block body %}
<br>

    <div class="alert alert-primary text-center" role="alert">
  <h2>Zoom Meeting List for Whatsapp Group</h2>
</div>
<br>
<br>


<form action="/usr_list" method="post">
 <div class="form-row">
        <div class="form-group col-md-3">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Name" type="text">
        </div>

        <div class="form-group col-md-3">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
        </div>

        <div class="form-group col-md-3">
            <input autocomplete="off" autofocus class="form-control" name="mobile" placeholder="Mobile No" type="text">
        </div>

        <div class="form-group col-md-3">
            <input autocomplete="off" autofocus class="form-control" name="country" placeholder="Country" type="text">
        </div>
</div>
<br>

 <div class="col text-center">
        <button class="btn btn-primary" type="submit">Add me</button>
    </div>
    </form>



     <form action="/submit" method="post">

<br>
<br>
<br>


 {% if rows %}
    <div class="col-auto">
    <table class="table table-striped">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
      {% for row in rows %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["mobile"]}}</td>
            <td>{{row["country"]}}</td>
        {% endfor %}
  </tbody>
</table>
</div>
{% endif %}


   {% endblock %}